border = 1px solid #ccc
general-code-color = #6D180B
link-color = #4183C4
background-color = #f8f8f8
code-font-family = Consolas, "Liberation Mono", Courier, monospace !important

block-style(left-right-padding)
   margin: 15px 0
   padding: 5px left-right-padding
   border: border
   border-radius: 3px
   background-color: background-color

body
   margin: 15px 30px
   font-family: Helvetica, Arial, Freesans, Clean, Sans-serif
   background: url("/dist/images/background.jpg") no-repeat center top
   background-color: white
   color: #333
   line-height: 1.6
   -webkit-font-smoothing: antialiased

header
   padding: 10px 0
   border-bottom: 1px solid #ccc

   .title
      text-align: center
      font-weight: bold

.documentation-main
   max-width: 1200px
   margin: 0 auto

.tip
   margin: 20px
   padding: 10px
   display: flex
   justify-content: center
   align-items: center

   .icon
      background: url("/dist/images/tip.jpg") no-repeat
      width: 50px
      height: 24px

   .content
      padding: 0 15px
      border-left: 1px solid #ccc

      p
         margin: 5px 0

h1, h2, h3, h4, h5, h6
   color: #000
   cursor: text
   font-weight: bold
   margin-bottom: 10px
   padding: 0

h1, h2, h3
   margin-top: 30px

h4, h5, h6
   margin-top: 25px

h2
   font-size: 24px

h3
   font-size: 20px

h4, h5
   font-size: 18px

blockquote
   block-style(20px)

p
   display: block
   margin: 15px 0
   text-align: left

a
   color: link-color
   text-decoration: none

:not(pre)>code
   font-family: code-font-family
   padding: 1px 3px
   border: border
   border-radius: 4px
   color: general-code-color
   background-color: #f2f2f2

pre
   block-style(10px)
   font-family: code-font-family

table
   margin: 16px
   padding: 8px
   border: border
   border-radius: 4px
   border-spacing: 0

   th
      padding: 5px 8px

   td
      text-align: left
      vertical-align: top
