border = 1px solid #ccc
general-code-color = #6D180B
link-color = #4183C4
background-color = #f8f8f8
code-font-family = Consolas, "Liberation Mono", Courier, monospace !important

block-style(left-right-padding)
   margin: 15px 0
   padding: 5px left-right-padding
   border: border
   border-radius: 3px
   background-color: background-color

body
   margin: 15px 30px
   font-family: Helvetica, Arial, Freesans, Clean, Sans-serif
   background: url("/dist/images/background.png") no-repeat center top
   background-color: white
   color: #333
   line-height: 1.6
   -webkit-font-smoothing: antialiased

   nav
      padding-top: 10px
      padding-bottom: 10px
      border-bottom: 1px solid #ccc

      .title
         text-align: center

   .documentation-main
      max-width: 1200px
      margin: 0 auto

   h1, h2, h3
      margin-top: 40px
      margin-bottom: 10px

   blockquote
      block-style(20px)

   p
      display: block
      margin: 15px 0
      text-align: left

   a
      color: link-color
      text-decoration: none

   :not(pre)>code
      font-family: code-font-family
      padding: 1px 3px
      border: border
      border-radius: 4px
      color: general-code-color
      background-color: #f2f2f2

   pre
      block-style(10px)
      font-family: code-font-family
